* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
  font-family: "Roboto Flex", sans-serif;
}

footer {
  font-family: "Roboto Flex", sans-serif;
}

/* inizio body */
.background-square {
    background-color: rgb(9, 123, 175);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.rectangle1 {
    border: 2px black;
    width: 300px;
    height: 50px;
    background-color: rgb(9, 123, 175);
    text-align: left;
    padding: 10px;
}

.Logo1 {
    background-image: url(../img/logo.svg);
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

.nav-up a,
.download-mac a {
    text-decoration: none;
    color: black;
}

.nav-up {
    background-color: white;
    width: 70px;
    height: 25px;
    text-align: center;
    padding: 3px;
    border-radius: 12px;
    display: inline-block;
}

.rectangle2 {
    border: 2px black;
    width: 500px;
    height: 30px;
    background-color: rgb(9, 123, 175);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5px;
}

.rectangle2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.rectangle3 {
    border: 2px black;
    width: 300px;
    height: 30px;
    background-color: rgb(9, 123, 175);
    text-align: right;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: flex-end;
}

.background-square2 {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.square {
    width: 650px;
    height: 300px;
    background-color: transparent;
    border: 2px black;
    color: white;
    margin-top: 20px;
}

h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.paragraph1 {
    font-size: 20px;
    text-align: center;
}

.double-tag {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.download-mac {
    background-color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    display: inline-block;
}

.open-browser {
    background-color: rgb(0, 0, 0);
    width: 230px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    display: inline-block;
}

.open-browser a {
    text-decoration: none;
    color: white;
}

.background-square3 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.square2a {
    background-image: url(../img/item1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    background-color: transparent;
    border: 2px black
}

.square3 {
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 2px black
}

h2 {
    font-size: 45px;
    text-align: left;
    margin-top: 40px;
}

.paragraph2 {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
}

.square2b {
    width: 600px;
    height: 400px;
    background-color: transparent;
    border: 2px black
}

.square2c {
    background-image: url(../img/item3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
    background-color: transparent;
    border: 2px black
}

.title3 {
    margin-top: 70px;
}

.paragraph4 {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
}

.background-square4a {
    background-color: rgb(243, 239, 239);
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.square2b {
    background-image: url(../img/item2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title2 {
    margin-top: 80px;
}

.paragraph3 {
    text-align: left;
    font-size: 20px;
    margin-top: 30px;
}

.background-square4b {
    background-color: rgb(243, 239, 239);
    width: 100%;
    height: 800px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.square4 {
    background-image: url(../img/item4-big.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 900px;
    height: 800px;
    background-color: transparent;
    border: 2px black;
    margin-top: 10px;
}

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.paragraph5 {
    margin-top: -40px;
    font-size: 20px;
}

.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 700px;
    margin-top: 480px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 35px;
    display: flex;
    margin-bottom: 20px;
}

.nav-down1 a {
    background-color: rgb(40, 40, 218);
    width: 150px;
    height: 70px;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    padding: 6px;
}
/* fine body */

/* inizio footer */
.background-square5 {
    background-color: black;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.square5 {
    background-color: transparent;
    width: 248px;
    height: 480px;
    border: 2px rgb(255, 255, 255);
    margin-top: -10px;
}

.paragraph6 {
    color: white;
}

.img-italy {
    width: 30px;
}

.h3-2 {
    color: rgb(40, 40, 218);
    font-size: 30px;
    display: flex;
    margin-top: 30px;
}
.square6 {
    background-color: transparent;
    width: 163px;
    height: 480px;
    border: 2px rgb(255, 255, 255);
    margin-top: -10px;
}

h4 {
    color: rgb(40, 40, 218);
    margin-top: 40px;
}

.list {
    margin-top: 20px;
    list-style: none;
    color: white
}

.background-square7 {
    background-color: black;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.square7 {
    background-color: transparent;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

hr {

 }

 .logo2 {
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    width: 100px;
    height: 40px;
}

.reg a {
    background-color: rgb(40, 40, 218);
    width: 90px;
    height: 40px;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    padding: 6px;
    text-decoration: none;
}
/* fine footer */